@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");
/* ================== */
/* ===   Root Variables    === */
/* ================== */
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --red: oklch(63.681% 0.20784 25.315);
  --yellow: oklch(79.524% 0.1616 86.05);
  --green: oklch(72.276% 0.19199 149.6);
  --blue: oklch(65.832% 0.1756 254.828);
  --gray: oklch(71.068% 0.0352 256.828);

  --gold: oklch(76.9% 0.188 70.08);
  --silver: oklch(80% 0 0);
  --bronze: oklch(66.61% 0.1315 61.29);

  --accent: oklch(95.75% 0.06688 141.194);
  --accent-foreground: oklch(37.703% 0.06991 163.448);
  --accent-something: oklch(60.273% 0.14322 154.272);
  --destructive: oklch(0.577 0.245 27.325);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

body {
  background: url(carnivalArtLayers/Carnival-1.png);
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
