.assets {
  position: absolute;
  display: grid;
  place-items: center;
  grid-template-areas: "stack";
}

.assets > img {
  grid-area: stack;
}

.formBx {
  position: absolute;
  top: 35vh; 
  width: 100%;
  height: auto; 

  display: flex;
  justify-content: center;
  align-items: center;
}

.formBx form {
  padding: 1vmin; 
  border-radius: 1vmin;
  border: 0.5vmin solid color-mix(in oklch, var(--gold) 75%, var(--foreground));
  background-color: var(--gold);
  display: flex;
  gap: 1.5vmin;
  
  max-width: 90vw;
}

.formBx form input {
  padding: 1vmin;
  border-radius: 0.5vmin;
  border: none;
  background-color: var(--background);
  color: var(--gold);
  
  font-size: 2.5vmin; 
  font-weight: bold;
  cursor: pointer;
}

.formBx form button {
  padding: 1vmin 2vmin;
  border-radius: 0.5vmin;
  border: none;
  background-color: var(--foreground);
  color: var(--background);
  
  font-size: 2.5vmin; 
  font-weight: bold;
  cursor: pointer;
}

.logo-assistant-text{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 55vh; 
    
    font-size: 3.5vmin; 
    color: var(--background);
    transform: rotate(-5deg);
}