.assets {
  position: absolute;
  display: grid;
  place-items: center;
  grid-template-areas: "stack";
}

.assets > img {
  grid-area: stack;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.formBx {
  position: absolute;
  top: 30vw;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.formBx form {
  width: 33vw;
  padding: 1vw;
  border-radius: 1vw;
  border: 1vw solid color-mix(in oklch, var(--gold) 75%, var(--background));
  background-color: var(--gold);
  display: flex;
  gap: 1.5vw;
}

.formBx form input {
  padding: 1vw;
  flex: 1;
  border-radius: 1vw;
  border: none;
  background-color: var(--foreground);

  font-weight: 400;
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
  outline: 0;
}

.formBx form input:focus {
  outline: 0.5vw solid color-mix(in oklch, var(--gold) 75%, var(--background));
}

.formBx form button {
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  border: none;
  background-color: var(--background);
  color: var(--foreground);

  font-size: 2.5vmin;
  font-weight: bold;
  cursor: pointer;
}

.logo-assistant-text {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 25vw;

  font-size: 2.5vw;
  color: var(--foreground);
  transform: rotate(-5deg);
}

.how-it-works {
  position: absolute;
  width: 100%;
  height: 5vw;
  top: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.how-it-works h1 {
  font-size: 4vw;
  padding: 0.5vw 1vw;
  background: var(--gold);
  border-radius: 0.5vw;
  border: 0.5vw solid color-mix(in oklch, var(--gold) 75%, var(--background));
}

/* === Box Styles === */
.box {
  position: absolute;
  width: 40vw;
  min-height: 15vw;
  padding: 0.5vw;
  background: var(--gold);
  border: 0.5vw solid color-mix(in oklch, var(--gold) 75%, var(--background));
  border-radius: 1vw;
  z-index: 1;
}

.box h1 {
  position: relative;
  background: var(--bronze);
  transform: scaleX(1.1);
  border-radius: 0.5vw;
  border: 0.5vw solid color-mix(in oklch, var(--gold) 75%, var(--background));
  text-align: center;
  z-index: 1;
}

.box1 {
  top: 48vw;
  right: 4vw;
}

.box2 {
  top: 67vw;
  left: 4vw;
}
